<a href="https://colab.research.google.com/github/2303A52492/2303A52492-aiml/blob/main/Types%20of%20List(AS-1).ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## Implement Basic DataStructure using Numpy and Pandas

In [ ]:
lst=[2,6,1,8,6]
print(lst)
print(type(lst))

[2, 6, 1, 8, 6]
<class 'list'>

In [ ]:
lst1=(1,2,3,4,5)
print(lst1)
print(type(lst1))

(1, 2, 3, 4, 5)
<class 'tuple'>

In [ ]:
lst1={1,2,3,4,5}
print(lst1)
print(type(lst1))

{1, 2, 3, 4, 5}
<class 'set'>

In [ ]:
lst1={1:"A",2:"B",3:"C",4:"D",5:"E"}
print(lst1)
print(type(lst1))

{1: 'A', 2: 'B', 3: 'C', 4: 'D', 5: 'E'}
<class 'dict'>

In [ ]:
lst2=("welcome to AIML")
print(lst2)
print(type(lst2))

welcome to AIML
<class 'str'>

In [ ]:
lst3=3.4
print(lst3)
print(type(lst3))

3.4
<class 'float'>

In [ ]:
lst4=3j+6
print(lst4)
print(type(lst4))

(6+3j)
<class 'complex'>

In [ ]:
# Importing required libraries
import numpy as np
import pandas as pd

# 1. Lists
list1 = [1, 2, 3, 4, 5]
list2 = [6, 7, 8, 9, 10]

# 2. Arrays
array1 = np.array(list1)
array2 = np.array(list2)

# 3. Identify their type using type()
print(f"Type of list1: {type(list1)}")
print(f"Type of list2: {type(list2)}")
print(f"Type of array1: {type(array1)}")
print(f"Type of array2: {type(array2)}")

# 4. Perform mathematical operations on these datasets
# Multiplication
mul_result = array1 * array2
print(f"Multiplication result: {mul_result}")

# Division
div_result = array1 / array2
print(f"Division result: {div_result}")

# Power
pow_result = np.power(array1, 2)
print(f"Power result: {pow_result}")

# 5. Combine text with Numpy function to generate a textual output
addition_result = array1 + array2
print(f"Addition of Two: {addition_result}")

# 6. Implement np.sin(), log(), log2(), np.exp()
sin_result = np.sin(array1)
print(f"Sine result: {sin_result}")

log_result = np.log(array1)
print(f"Log result: {log_result}")

log2_result = np.log2(array1)
print(f"Log2 result: {log2_result}")

exp_result = np.exp(array1)
print(f"Exponential result: {exp_result}")

# Additional Pandas operations for completeness
# Creating a DataFrame
df = pd.DataFrame({'Column1': array1, 'Column2': array2})

# Displaying the DataFrame
print("DataFrame:")
print(df)

# Performing operations on DataFrame
df['Multiplication'] = df['Column1'] * df['Column2']
df['Division'] = df['Column1'] / df['Column2']
df['Power'] = np.power(df['Column1'], 2)

# Displaying the DataFrame with new columns
print("DataFrame with operations:")
print(df)

Type of list1: <class 'list'>
Type of list2: <class 'list'>
Type of array1: <class 'numpy.ndarray'>
Type of array2: <class 'numpy.ndarray'>
Multiplication result: [ 6 14 24 36 50]
Division result: [0.16666667 0.28571429 0.375      0.44444444 0.5       ]
Power result: [ 1  4  9 16 25]
Addition of Two: [ 7  9 11 13 15]
Sine result: [ 0.84147098  0.90929743  0.14112001 -0.7568025  -0.95892427]
Log result: [0.         0.69314718 1.09861229 1.38629436 1.60943791]
Log2 result: [0.         1.         1.5849625  2.         2.32192809]
Exponential result: [  2.71828183   7.3890561   20.08553692  54.59815003 148.4131591 ]
DataFrame:
   Column1  Column2
0        1        6
1        2        7
2        3        8
3        4        9
4        5       10
DataFrame with operations:
   Column1  Column2  Multiplication  Division  Power
0        1        6               6  0.166667      1
1        2        7              14  0.285714      4
2        3        8              24  0.375000      9
3        4        9              36  0.444444     16
4        5       10              50  0.500000     25